<div class="img-teaser">
  <%= image_tag("bike2.jpg", class: "img-responsive") %>
</div>
<div class="container-fluid">
  <h1>My Account</h1>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>First name:</strong>
      <b><%= @user.first_name %></b>
  </p>

  <p>
    <strong>Last name:</strong>
      <b><%= @user.last_name %></b>
  </p>

  </div>

  <div class="edit_btn button">
      <span><%= link_to 'Edit', edit_user_path(@user) %> </span>
      <span><%= link_to 'Back', users_path %> </span>
  </div>
</div>
